@model IEnumerable<Story>
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Stories</title>
</head>
<body>
	@foreach (Story s in Model)
	{
		<div>
			@s.Title <br />
			@s.Date <br />
			@s.UserStory <br />

			<form method="post">
				<p>
					<label for="rating">Rate this story:</label>
					<input type="radio" name="rating" id="radio1" value="1" />
					<input type="radio" name="rating" id="radio2" value="2" />
					<input type="radio" name="rating" id="radio3" value="3" />
					<input type="radio" name="rating" id="radio4" value="4" />
					<input type="radio" name="rating" id="radio5" value="5" />
				</p>
				<p>
					<button type="submit">Submit rating</button>
				</p>

				<p>
					<label for="comment">Comment on this story:</label>
					<input type="text" name="comment" />
				<p>
					<button type="submit">Submit comment</button>
				</p>
				</p>
			</form>
		</div>
	}
	<a href="~/story/submitstory">Submit a story</a> <br />
	<a href="~/">Home</a>
	<a href="~/home/history">Biography</a>
	<a href="~/sources">Sources</a>
</body>
</html>