@model String
@{
	Layout = "Form";
	ViewData["Title"] = "Review Story";
}
<h1><em>@Model:</em> Rate and Comment</h1>
@if (ViewBag.avgRating > 0)
{
	<p>Average rating for this story: @ViewBag.avgRating</p>
}
<p>
	<label for="rating">Rate this story:</label>
	<input type="radio" name="rating" id="radio1" value="1" />
	<input type="radio" name="rating" id="radio2" value="2" />
	<input type="radio" name="rating" id="radio3" value="3" />
	<input type="radio" name="rating" id="radio4" value="4" />
	<input type="radio" name="rating" id="radio5" value="5" />
</p>
<p>
	<label for="comment">Comment on this story:</label>
	<textarea type="text" name="comment"></textarea>
</p>
