@model String
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<a href="~/Models/StoryReview.cs">~/Models/StoryReview.cs</a>
	<title>Add a Review</title>
</head>
<body>
	<h1><em>@Model:</em> Rate and Comment</h1>
	<form method="post">
		<p>
			<label for="rating">Rate this story:</label>
			<input type="radio" name="rating" id="radio1" value="1" />
			<input type="radio" name="rating" id="radio2" value="2" />
			<input type="radio" name="rating" id="radio3" value="3" />
			<input type="radio" name="rating" id="radio4" value="4" />
			<input type="radio" name="rating" id="radio5" value="5" />
		</p>
		<p>
			<label for="comment">Comment on this story:</label>
			<textarea type="text" name="comment"></textarea>
		<p>
			<input type="submit" value="Enter" />
		</p>
	</form>
</body>
</html>