@{
	Layout = "Form";
	ViewData["Title"] = "Submit A Story";
}
	<p>
		<label for="title">Title:</label>
		<input name="title" />
	</p>
	<p>
		<label for="date">Date:</label>
		<input name="date" />
	</p>
	<p>
		<label for="userStory">Story:</label>
		<input name="userStory" />
	</p>
