@model Story
@{
	Layout = "Form";
	ViewData["Title"] = "Submit A Story";
}
<p>
	<label asp-for="Title">Title:</label>
	<div><span asp-validation-for="Title"> </span></div>
	<input asp-for="Title" /><br />
</p>
<p>
	<label asp-for="Date">Date:</label>
	<div><span asp-validation-for="Date"> </span></div>
	<input asp-for="Date" />
</p>
<p>
	<label asp-for="StoryText">Story:</label>
	<div><span asp-validation-for="Story"> </span></div>
	<input asp-for="StoryText" />
</p>
