<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - KateBushFanSite</title>
</head>
<body>
	<form method="post">
		@RenderBody()
		<input type="submit" value="Enter" />
	</form>
		<a href="~/">Home</a>
		<a href="~/home/history">Biography</a>
		<a href="~/story">Stories</a>
		<a href="~/sources">Sources</a>
</body>
</html>