@model IEnumerable<Source>
@{
	ViewData["Title"] = "Sources";
	ViewBag.Header = "Sources";
}

	<table>
		<thead>
			<tr>
				<th>Print Media</th>
			</tr>
			<tr>
				<th>Title</th>
				<th>Author/s</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Source s in Model)
			{
				PrintSource p = s as PrintSource;
				if (p != null)
				{
					<tr>
						<td>@p.Title</td>
						<td>@p.Author</td>
					</tr>
				}
			}
			<tr>
				<th>Online Media</th>
			</tr>
			@foreach (Source s in Model)
			{
				WebSource w = s as WebSource;
				if (w != null)
				{
					<tr>
						<td><a href=@w.Url>@w.Title</a></td>
					</tr>
				}
			}
		</tbody>
	</table>