@{
	Layout = "Form";
	ViewData["Title"] = "Submit A Print Source";
}
<p>
	<label for="title">Title:</label>
	<input name="title" />
</p>
<p>
	<label for="author">Author:</label>
	<input name="author" />
</p>

