@model WebSource
@{
	Layout = "Form";
	ViewData["Title"] = "Submit A Web Source";
}
<p>
	<label asp-for="Title">Title:</label>
	<div><span asp-validation-for="Title"> </span></div>
	<input asp-for="Title" />
</p>
<p>
	<label asp-for="Url">Url:</label>
	<div><span asp-validation-for="Url"> </span></div>
	<input asp-for="Url" />
</p>

