@model PrintSource
@{
	Layout = "Form";
	ViewData["Title"] = "Submit A Print Source";
}
<p>
	<label asp-for="Title">Title:</label>
	<div><span asp-validation-for="Title"> </span></div>
	<input asp-for="Title" />
</p>
<p>
	<label asp-for="Author">Author:</label>
	<div><span asp-validation-for="Author"> </span></div>
	<input asp-for="Author" />
</p>

