@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<h1>KATE BUSH</h1>
	<p>(image here)</p>
	<a asp-action="History">Biography</a>
	<a href="story/index">Stories</a>
	<a href="sources/index">Sources</a>
</body>
</html>


